LogicApps/TravelDelay/TravelDelay/bin/Debug/staging/TravelDelay/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "bingmaps_1_Connection_Name": {
      "type": "string",
      "defaultValue": "bingmaps"
    },
    "bingmaps_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Get Bing route"
    },
    "bingmaps_1_api_key": {
      "type": "securestring",
      "defaultValue": "AqhkPDy7GdzojTs5fnmsDEtDZGrEK-pITyuIYJLdgDGa_5ESjwwPB7YjCqxlvv_t",
      "metadata": {
        "description": "API Key"
      }
    },
    "office365_1_Connection_Name": {
      "type": "string",
      "defaultValue": "office365"
    },
    "office365_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "tim.blewitt@sungardas.com"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/schemas/2016-06-01/deploymentTemplate.json#",
          "actions": {
            "Get_route": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['bingmaps']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/REST/V1/Routes/Driving",
                "queries": {
                  "wp.0": "B30 2BD",
                  "wp.1": "DY6 0EN",
                  "optimize": "timeWithTraffic",
                  "distanceUnit": "Mile"
                }
              },
              "runAfter": {}
            },
            "Initialize_variable_1": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "travelTimeWithTraffic",
                    "type": "Integer",
                    "value": "@div(body('Get_route')?['travelDurationTraffic'],60)"
                  }
                ]
              },
              "runAfter": {
                "Get_route": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable_2": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "travelTimeWithoutTraffic",
                    "type": "Integer",
                    "value": "@div(body('Get_route')?['travelDuration'],60)"
                  }
                ]
              },
              "runAfter": {
                "Initialize_variable_1": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable_3": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "travelDelay",
                    "type": "Integer",
                    "value": "@sub(variables('travelTimeWithTraffic'),variables('travelTimeWithoutTraffic'))"
                  }
                ]
              },
              "runAfter": {
                "Initialize_variable_2": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable_4": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "travelDistance",
                    "type": "String",
                    "value": "@{substring(string(body('Get_route')?['travelDistance']),0,4)}"
                  }
                ]
              },
              "runAfter": {
                "Initialize_variable_3": [
                  "Succeeded"
                ]
              }
            },
            "Condition": {
              "type": "If",
              "expression": "@greater(variables('travelDelay'), 30)",
              "actions": {
                "Send_an_email": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "To": "tim.blewitt@sungardas.com",
                      "Subject": "Travel Home Delay: @{variables('travelDelay')} minutes ",
                      "Body": "Start location: @{body('Get_route')?['routeLegs']?['startLocation']?['address']?['formattedAddress']}:\nEnd location: @{body('Get_route')?['routeLegs']?['endLocation']?['address']?['formattedAddress']}:\nDistance: @{variables('travelDistance')} miles\nTravel time with traffic: @{variables('travelTimeWithTraffic')} minutes\nTravel time without traffic: @{variables('travelTimeWithoutTraffic')} minutes\nTravel delay: @{variables('travelDelay')} minutes\nWarning threshold:"
                    },
                    "path": "/Mail"
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Initialize_variable_4": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Minute",
                "interval": 15
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "bingmaps": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'bingmaps')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('bingmaps_1_Connection_Name'))]",
                "connectionName": "[parameters('bingmaps_1_Connection_Name')]"
              },
              "office365": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]",
                "connectionName": "[parameters('office365_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('bingmaps_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('bingmaps_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'bingmaps')]"
        },
        "displayName": "[parameters('bingmaps_1_Connection_DisplayName')]",
        "parameterValues": {
          "api_key": "[parameters('bingmaps_1_api_key')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}